*,
*::after,
*::before{
    box-sizing: border-box;   
    margin: 0;
}

body{
    font-family: "Poppins", "Inria Sans", sans-serif;
    background-image: url(images/background.svg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(195, 195, 195, 0.9);
    height: 100vh;
    margin: 0;
}

.wrappers{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}
.contact_card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: fit-content;
    gap: 32px;
    padding: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.467);
}
.contact_card h1{
    font-family: "Poppins", "Inria Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #770061;
}
.contact_card .logo{
    border-top: 2px solid rgb(78, 78, 78);
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}
.contact_card p{
    text-align: center;
    width: 90%;
}
.contact_card .logo img{
    width: 56px;
}
.contact_card h6{
    position: absolute;
    bottom: 94px;
}

@media (max-width:899px) {
    .contact_card{
        width: 90%;
    }
    .contact_card h1{
        font-size: 36px;
    }
}

@media (max-width:550px) {
    .contact_card h1{
        font-size: 24px;
    }

    .contact_card .logo{
        padding: 0;
        width: 80%;
        justify-content: center;
    }
    .contact_card .logo img{
        transform: scale(0.8);
    }
}